*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    /* height: 100vh;
    width: 100vw; */
    display: flex;
    flex-direction: column;
    align-items:left; 
    justify-content:left;

}
.icon{
    height: auto;
    width: 100vw;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:orange;
    padding: 10px 20px;

}
input{
    border:none;
    background-color: transparent;
    margin-left: 20px;
}
.bar{
    border-radius: 15px;
    width: 400px;
    height: 50px;
   background-color:white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.fa-magnifying-glass{
    border-radius: 15px;
    padding: 17px;
    background-color: black;
    color: white;
}
.fa-heart{
    font-size: 25px;
    margin: 10px;
    color:white;

}
.fa-bag-shopping{
    font-size: 25px;
    margin: 10px;
    color: white;
    
}

.typs{
    
    height: 50px;
    width: 100%;
    padding: 25px 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    

}
.typs a{
    margin-left: 30px;
    text-decoration: none;
    color: black;

}
.opt {
    text-decoration: none;
    color: black;
    margin: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.opt a{
    margin-left: 30px;
    text-decoration: none;
    color: black;
}
.head {
    color: orange;
    margin: 25px;
    display: flex;
    justify-content: space-around;
    font-size: 10px;    
}
.head{

    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}
.line a{
    text-decoration: none;
    color: black;
    margin: 123px;
    margin-top: 50px;
    font-size: 14px;
   
}
.line{
    background-color: whitesmoke;
    justify-content: space-evenly;
    padding: 25px 20px;
    margin-top: 25px;
    margin-right: 0px;
}

.tick h1{
    margin-top: 3%;
    font-size: 20px;
}
.tick  h2{
    color: rgb(73, 73, 73);
    margin-top: 1%;
    font-size: 15px;
}
.tick h3{
    color: rgb(73, 73, 73);
    font-size: 15px;
}
.tick h4{
    color: rgb(73, 73, 73);
    font-size: 15px;
}
.tick{
    background-color: whitesmoke;
    padding: 10px 15px;
    justify-content: space-evenly;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 20px;
    
}
.tang{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 30px;    
}


.blue {
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 270px;
    width: 100%;
    background-color:whitesmoke;    
}
.blue h1{
    font-size: 24px;
}
.input{
display: flex;
}
.input input{
    font-size: 14px;
    padding-left: 10px;
    height: 50px;
    width: 350px;
    border: 1px solid black;
}
.input button{
    
    height: 50px;
    width: 100px;
    text-align: center;
    border: 1px solid black;
    background-color:orange;
}

.last h1{
    font-size: 23px;
    color: gray;
}
.last h3{
    color: grey;
    font-size: 14px;
}
.mid h1{
    font-size: 23px;
    color: gray;
}
.mid h3{
    color:black;
    font-size: 14px;
}
.aid {
    margin-top: 4%;
    display: flex;
    /* align-items: center; */
    justify-content: space-evenly;
    height: 270px;
    width: 100%;
}
.out h1{
    font-size: 18px;
}
.out  li {
    line-height: 30px;
    list-style: none;
}
.pix h1{
    font-size: 18px;
}
.pix li{
    line-height: 30px;
    list-style: none;
}
.point button{
    background-color: orange;
    border-color: lightblue;
    border-radius: 7px;
    color:black;
    padding: 10PX 30PX;
    transform: rotate(90deg);
    margin-top: 100px;
    

}

.last a{
    text-decoration: none;
    background-color: orange;
    border-radius: 2px;
    color:black;
    width:100%;
    height:50%;
    font-size: 20px;

}
.point a{
    text-decoration: none;
    color: black;
}
.color h1 {
    margin-left: 100px;
 font-size: 13px;
}
.color h2{
    margin-left: 600px;
    font-size: 13px;
}
.color{
    border: 1px orange solid;
    width: 1330px;
    height: 90px;
    justify-content: center;
    align-items: center;
    background-color: orange;
    display: flex;
}
.cart-container img{
  width: 30px;
  height: 20px;
}




